<section class="info_section ">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="info_contact">
          <h5>
            <a href="" class="navbar-brand">
              <span>
                Minics
              </span>
            </a>
          </h5>
          <p>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            Address
          </p>
          <p>
            <i class="fa fa-phone" aria-hidden="true"></i>
            +01 1234567890
          </p>
          <p>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            demo@gmail.com
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info_info">
          <h5>
            Information
          </h5>
          <p>
            Eligendi sunt, provident, debitis nemo, facilis cupiditate velit libero dolorum aperiam enim nulla iste maxime corrupti ad illo libero minus.
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info_links">
          <h5>
            Links Úteis
          </h5>
          <ul>
            <li>
              <a href="/">
                Página inicial
              </a>
            </li>
            <li>
              <a href="/about">
                Sobre nós
              </a>
            </li>
            <li>
              <a href="/products">
                Produtos
              </a>
            </li>
            <li>
              <a href="/why-us">
                Por que nos escolher?
              </a>
            </li>
            <li>
              <a href="/testimonial">
                Depoimentos
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info_form ">
          <h5>
            Newsletter
          </h5>
          <form action="">
            <input type="email" placeholder="Enter your email">
            <button>
              Subscribe
            </button>
          </form>
          <div class="social_box">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
