<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HomePage</title>
  <link rel="stylesheet" href="styles/site.css">
</head>
<body>
  <h1>HomePage</h1>
  <img src="images/mvc-diagram.webp" width="80%" alt=""><br>
  <script src="scripts/site.js"></script>
</body>
</html>
