html
  head
    title Produtos
  body
    h1 Produtos
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, provident modi? Cum magnam beatae dolorem quae consectetur, nemo adipisci nam dolores dolore illum? Quo dolores voluptatibus quaerat iusto sit quidem.
    p
      a(href='/') Voltar
